// ######### NAV #########
$nav-img-width: 200px;
$nav-img-position: left;
$nav-padding: 15px 100px;

// ######### FONT SIZES #########
$font-xlarge: 70px;
$font-large: 40px;
$font-medium: 16px;
$font-button: 25px;

// ######### FONT COLORS #########
$font-color-snow: #FAFAFA;
$font-color-white: #FFF;
$font-color-darkgray: #686963;
$font-color-gray: #91918d;

// ######### FONT WEIGHTS #########
$text-bold: bold;
$text-regular: 400;
$text-light: lighter;

// ######### BACKGROUND COLORS #########
$bg-color-white: #FFF;
$bg-color-orange: #5b96df;
$bg-color-gray: #91918D;
$bg-color-darkgray: #686963;
$bg-color-lightgray: #BABAB8;

// ######### HERO VARIABLES #########
$hero-height: 600px;
$hero-padding: 5%;
$hero-height-medium: 100px;

// ######### IMG SIZES #########
$card-img-large: 70%;
$card-img-medium: 30%;

// ######### CARD VARIABLES #########
$card-padding: 5%;
$card-margin: 20px;
$card-p-width: 50%;
$card-p-margin: 10px;

// ######### BUTTON VARIABLES #########
$button-radius: 20px;
$button-border: 1px solid $bg-color-gray;
$button-margin: 20px;
$button-width: 280px;
$button-padding: 8px 15px;

// ######### FOOTER VARIABLES #########
$footer-padding: 50px;
$footer-img-width: 150px;